<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-12-sm form-group">
        <label for="typeSelect" class="control-label">Select the citation type</label>
        <select id="typeSelect" class="form-control" (change) = "onSelectionChange($event.target.value)">
          <option value="CitationType.CreativeWork">Creative work</option>
          <option value="CitationType.Article">Article</option>
          <option value="CitationType.Book">Book</option>
          <option value="CitationType.AudioObject">Audio Object</option>
          <option value="CitationType.ImageObject">Image Object</option>
          <option value="CitationType.MusicRecording">Music Recording</option>
          <option value="CitationType.SoftwareSourceCode">Software Source Code</option>
          <option Value="CitationType.VideoObject">Video Object</option>
        </select>
        
        <div class="form-element">
          <label for="citation-name-input" class="control-label">Citation name</label>
          <input id="citation-name-input" type="text" class="form-control" [(ngModel)]="fileHeader.name" placeholder="name this citation..." name="citationName">
        </div>

        <div class="form-element">
          <textarea 
            id="citation-about-input" 
            type="text" 
            class="form-control" 
            [(ngModel)]="fileHeader.about"  
            name="about"
            placeholder="describe this citation..."
            rows="5"></textarea>
        </div>
        
        <div class="form-element">
          <label for="citation-creator-input" class="control-label">Creator</label>
          <div id="citation-creator-input" class="row">
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="fileHeader.creator.givenName" placeholder="name" name="recordName">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="fileHeader.creator.additionalName" placeholder="additional names" name="recordName">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="fileHeader.creator.familyName" placeholder="surname" name="recordName">
            </div>
          </div> 
        </div>
        <button type="submit" class="btn btn-block btn-success" (click) = "onSaveMetadata()">Save</button>
      </div>
    </div>
  </form>
</div>
