<div id="container" class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label">Record name</label>
        <input type="text" class="form-control" required [(ngModel)]="record.recordHeader.name" placeholder="Name the record" name="recordName">
      </div>
      <div class="form-group">
        <label class="control-label">Author</label>
        <input type="text" class="form-control" required [(ngModel)]="record.recordHeader.author" placeholder="Name the author" name="user">
      </div>
      <div class="form-group">
        <label class="control-label">Description</label>
        <input type="text" class="form-control" required [(ngModel)]="record.recordHeader.about" placeholder="Describe the record" name="description">
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Creator</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="record.recordHeader.creator.givenName" placeholder="name" name="recordName">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="record.recordHeader.creator.additionalname" placeholder="additional names" name="recordName">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="record.recordHeader.creator.familyName" placeholder="surname" name="recordName">
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="form-control-label">Files</label>
        <input type="file" class="form-control" style="margin: 5px" multiple (change)="fileChange($event)" placeholder="File to upload" name="file"/>
      </div>
      <div>
        <button (click)="newRecord()" type="submit" class="btn btn-primary" style="margin: 5px">Add record</button>
      </div>
      <div>
        <select class="form-control" *ngIf="isAddingFile" (change)="onSelectChange($event.target.value)">
          <option value="citationType.CreativeWork">Creative work</option>
          <option value="citationType.Article">Article</option>
          <option value="citationType.Book">Book</option>
          <option value="citationType.AudioObject">Audio Object</option>
          <option value="citationType.ImageObject">Image Object</option>
          <option value="citationType.MusicRecording">Music Recording</option>
          <option value="citationType.SoftwareSourceCode">Software Source Code</option>
          <option [ngValue]="citationType.VideoObject">Video Object</option>
        </select>
      </div>
    </div>
    <div id="snippet" class="col-md-6">
      {{ record.toString() }}
      {{ selected }}
      <div class="row">
        <div class="col-md-12" *ngFor="let item of record.fileHeaders">
          {{ item.toString() }}
        </div>
      </div>
    </div>
  </div>
</div>




