<div id="snippet-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12" style="padding: 20px">
      <h2>{{ record.recordHeader.name}}</h2>
      <p>{{ record.recordHeader.about }}</p>
      <div *ngIf="isAuthorSpecified()">
        <h3>Uploaded by:</h3> {{ record.recordHeader.author }} <br>
      </div>
      <div *ngIf="isCreatorSpecified()">
        <h3>Created by:</h3> {{ record.recordHeader.creator.givenName }} 
        {{ record.recordHeader.creator.additionalName }} {{ record.recordHeader.creator.familyName }}
      </div>
      <div *ngIf="record.filesList.length > 0">
        <h3>Files:</h3>
        <div id="element" class="list-group-item clearfix" *ngFor="let file of record.filesList">
          <div class="row">
            <div class="col-xs-12 ">
              <div id="fileViewHeading" class="list-group-item-heading">
                <h4 class="pull-left">{{ file.name }}</h4>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" (click) = "enableFileEdit(file)">Edit</button>
                    <button type="button" class="btn btn-success">Details</button>
                    <button type="button" class="btn btn-danger" (click) = "removeFile(file)">Delete</button>
                </div>
              </div>
              <div id="fileViewContent" class="list-group-item-text">
                <hr>
                <div *ngIf="isEditEnabled(file)" style="clear: both">
                  <app-file-edit 
                  [file] = "file"
                  (metadataAdded) = "onMetadataAdded($event)"></app-file-edit>
                </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

