<div class="container-fluid">
  <app-form *ngIf="showForm" (uploadFinished)="onUploadFinished($event)"></app-form>
  <div *ngIf="!showForm" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h2>Upload successful! You can edit your record now if you want:</h2>
      <app-record [record]="out" [url]="downloadLink"></app-record>
      <button type="button" class="btn btn-success btn-block" (click)="showForm = !showForm">Add another record!</button>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>