<!--<div class="col-sm-8">
  <div *ngIf="record">
    <div *ngIf="!editRecordOn">
      <ul class="list-group">
        <h4>Details:</h4>
        <li class="list-group-item">
          <h4>
            <div class="col-sm-2">ID:</div>
            <div class="col-lg-10">{{ record.id }}</div>
            <div class="col-sm-2">Name:</div>
            <div class="col-lg-10">{{ record.name }}</div>
            <div class="col-sm-2">About:</div>
            <div class="col-lg-10">{{ record.about }}</div>
            <div class="col-sm-2">Author:</div>
            <div class="col-lg-10">{{ record.author }}</div>
            <br><br>
            <div class="row">
              <div class="col-sm-12">
                <button id="showFilesList" (click)="showFilesList()" type="sumbit" class="btn btn-success btn-block">Show files list</button>
              </div>
            </div>
            <div class="row" *ngIf="showFilesListOn">
              <div *ngFor="let fileName of filesNames">
                {{ fileName }}
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-3">
                <label>Download URL: </label>
              </div>
              <div class="col-sm-6">
                <input class="form-control" value={{url}}>
              </div>
              <div class="col-sm-3">
                <button id="getZipButton" (click)="getZip(record.id)" type="sumbit" class="btn btn-success btn-block">Download .ZIP
              </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button id="edit" (click)="editRecord()" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Edit record
              </button>
                <button class="col-sm-6" id="delete" (click)="deleteRecord()" type="submit" class="btn btn-danger ">
                <span class="glyphicon glyphicon-trash"></span> Delete record
              </button>
              </div>
            </div>
          </h4>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="editRecordOn">
  <div class="col-sm-6">
    <h1>Make and save changes:</h1>
  </div>
  <app-form></app-form>
  <div class="row">
    <div class="col-sm-6">
      <button id="backFromEdit" (click)="editRecord()" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span> Back
      </button>
      <button id="saveChanges" type="submit" class="btn btn-default">
                <span class="glyphicon"></span>Save changes
      </button>
    </div>
  </div>
</div>-->
<div id="snippet-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12" style="padding: 20px">
      <label for="ID" class="control-label">ID</label>
      <div #ID>
        <h4>{{record.id}}</h4>
      </div>
        <label for="name" class="control-label">Name</label>
        <input #name type="text" class="form-control" value="record.name" [(ngModel)]="record.name">
        <label for="about" class="control-label">About</label>
        <textarea #about type="text" class="form-control" value="record.about" rows="5" [(ngModel)]="record.about">{{record.about}}</textarea>
        <label for="uploadedby" class="control-label">Uploaded by</label>
        <input #uploadedby type="text" class="form-control" value="record.author" [(ngModel)]="record.author">
        <label for="creator" class="control-label">Created by</label>
        <div #creator class="row">
          <div class="col-sm-4">
            <input #givenname type="text" class="form-control" value="{{record.creator.givenName}}" [(ngModel)]="record.creator.givenName">
          </div>
          <div class="col-sm-4">
            <input #additionalname type="text" class="form-control" value="{{record.creator.additionalName}}" [(ngModel)]="record.creator.additionalName">
          </div>
          <div class="col-sm-4">
            <input #familyname type="text" class="form-control" value="{{record.creator.familyName}}" [(ngModel)]="record.creator.familyName">
          </div>
        </div>
      <h4>Files:</h4>
      <div *ngIf="record.filesNames.length > 0">
        <div id="element" class="list-group-item clearfix" *ngFor="let file of record.filesNames">
          <div class="row">
            <div class="col-xs-12 ">
              <div id="fileViewHeading" class="list-group-item-heading">
                <h4 class="pull-left">{{file}}</h4>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
              <div class="col-sm-3">
                <label>Download URL: </label>
              </div>
              <div class="col-sm-6">
                <input class="form-control" value={{url}}>
              </div>
              <div class="col-sm-3">
                <button id="getZipButton" (click)="getZip(record.id)" type="sumbit" class="btn btn-success btn-block">Download .ZIP
              </button>
              </div>
            </div>
      <button class="col-sm-6 btn btn-primary" id="edit" (click)="saveChanges()">
        <span class="glyphicon glyphicon-pencil"></span> Save changes
      </button>
      <button class="col-sm-6 btn btn-danger" id="delete" (click)="deleteRecord()">
        <span class="glyphicon glyphicon-trash"></span> Delete record
      </button>  
    </div>
  </div>
</div>