<div class="col-sm-8">
  <div *ngIf="record">
    <div *ngIf="!editRecordOn">
      <ul class="list-group">
        <h4>Details:</h4>
        <li class="list-group-item">
          <h4>
            <div class="col-sm-2">ID:</div>
            <div class="col-lg-10">{{ record.id }}</div>
            <div class="col-sm-2">Name:</div>
            <div class="col-lg-10">{{ record.name }}</div>
            <div class="col-sm-2">About:</div>
            <div class="col-lg-10">{{ record.about }}</div>
            <div class="col-sm-2">Author:</div>
            <div class="col-lg-10">{{ record.author }}</div>
            <br><br>
            <!--{{ filesList }}<br>-->
            <div class="row">
              <div class="col-sm-6">
                <button id="showFilesList" (click)="showFilesList()" type="sumbit" class="btn btn-success">Show files list</button>
              </div>
              <div *ngIf="showFilesListOn">
                <div *ngFor="let fileName of filesNames">
                  {{ fileName }}
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <button id="getZipButton" (click)="getZip(record.id)" type="sumbit" class="btn btn-success">Download .ZIP
              </button>
              </div>
              <div class="col-sm-6">
                <a class=""></a>
                <button id="edit" (click)="editRecord()" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Edit record
              </button>
                <button id="delete" (click)="deleteRecord()" type="submit" class="btn btn-danger ">
                <span class="glyphicon glyphicon-trash"></span> Delete record
              </button>
              </div>
            </div>
          </h4>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="editRecordOn">
  <div class="col-sm-6">
    <h1>Make and save chanhes:</h1>
  </div>
  <app-form></app-form>
  <div class="row">
    <div class="col-sm-6">
      <button id="backFromEdit" (click)="editRecord()" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span> Back
      </button>
      <button id="saveChanges" type="submit" class="btn btn-default">
                <span class="glyphicon"></span>Save changes
      </button>
    </div>
  </div>
</div>