<div class="col-sm-8">
  <div *ngIf="record">
    <ul class="list-group">
      <h4>Details:</h4>
      <li class="list-group-item">
        <h4>
          ID: {{ record.id }}<br><br>Name: {{ record.name }}<br><br>About: {{ record.about }}<br><br>Author: {{
          record.author
          }}
          <br><br>
          <!--{{ filesList }}<br>-->
          <div class="row">
            <div class="col-sm-6">
              <button id="getZipButton" (click)="getZip(record.id)" type="sumbit" class="btn btn-success">Download .ZIP
              </button>
            </div>
            <div class="col-sm-6">
              <a class=""></a>
              <button id="edit" (click)="editRecord()" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Edit record
              </button>
              <button id="delete" (click)="deleteRecord()" type="submit" class="btn btn-danger ">
                <span class="glyphicon glyphicon-trash"></span> Delete record
              </button>
            </div>
          </div>
        </h4>
      </li>
    </ul>
  </div>
</div>
