<div id="search-component">
  <div class="col-sm-10 col-md-offset-1">
    <div class="input-group">
      <span class="input-group-addon">Search</span>
      <input #searchBox id="search-box" type="text" class="form-control" (keyup)="search(searchBox.value)" name="msg" placeholder="enter keywords">
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div *ngIf="showResultsLabel">
        <h4>Results:</h4>
      </div>
      <ul class="list-group">
        <div *ngFor="let snipp of snippets | async" (click)="gotoDetail(snipp)" class="search-result">
          <div class="container">
            <div class="col">
              <div class="col-sm-6">
                <li class="list-group-item">
                  {{snipp.recordName}}
                </li>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <div *ngIf="showDetails">
          <h4>Details:</h4>
          <li class="list-group-item">
            <h4>
              ID: {{ record.id }}<br> Name: {{ record.name }}<br> About: {{ record.about }}<br> Author: {{ record.author
              }}
              <br>
            </h4>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>